<footer class="site-footer">
  <div class="container">
    <div class="row py-5 border-top">
      <div class="col-md-4">
        <h5>Manage Your Finances</h5>
        <p>Take control of your financial journey. Track your income, expenses, and savings all in one place.</p>
      </div>
      <div class="col-md-4">
        <h5>Explore</h5>
        <ul class="list-unstyled">
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Privacy & Security</a></li>
          <li><a href="#">User Agreement</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Stay Connected</h5>
        <ul class="list-unstyled">
          <li><a href="https://facebook.com">Facebook</a></li>
          <li><a href="https://twitter.com">Twitter</a></li>
          <li><a href="https://linkedin.com">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom text-center">
    <p>&copy; 2024 Budget App. Empowering your financial freedom.</p>
  </div>
</footer>
